@font-face {
  font-family: Oswald;
  src: url(font/Oswald-Regular/Oswald-Regular.woff);
}

body {
  color: #333;
  font-family: arial;
  line-height: 24px;
  margin: 0;
}

*:after, 
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.row:before, 
.row:after {
  content: '';
  display: table;
}

.row:after {
  clear: both;
}

.row {
  margin: 0 auto;
  max-width: 1060px;
  width: 100%;
}

p {
  margin: 0 0 10px;
  padding: 0;
}

a {
  color: #3f8ad6;
  outline: medium none !important;
  text-decoration: none;
}

.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.block-title {
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  margin: 0 0 70px;
  text-align: center;
  text-transform: uppercase;
}

.region {
  padding-top: 80px;
}

.header.fixed {
  background: #fff;
  position: fixed;
  width: 100%;
}

.branding {
  float: left;
  width: 30%;
}

.logo {
  padding: 6px 0;
}

.logo a {
  display: inline-block;
}

.branding-bottom {
  float: left;
  max-height: 75px;
  width: 70%;
}

.navigation {
  display: inline-block;
  text-align: center;
  width: 80%;
}

.navigation ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 5px 0;
}

.navigation ul li {
  float: left;
}

.navigation ul li a {
  color: #333;
  display: inline-block;
  padding: 20px;
  text-transform: capitalize;
}

.navigation ul li a.active,
.navigation ul li a:hover {
  color: #3f8ad6;
}

.login {
  color: #fff;
  float: right;
  padding: 25px 0;
  position: relative;
}

.login .toboggan-login-link-container .toboggan-login-link {
  color: #333;
}

.login .toboggan-login-link-container .toboggan-login-link:before {
  background: url("img/icon-login.png") no-repeat scroll 0 0;
  content: "";
  display: inline-block;
  height: 13px;
  margin-right: 5px;
  width: 13px;
}

.login .form-text {
  background: #43494b;
  border-radius: 3px;
  border: none;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px;
}

.login .form-submit {
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
}

.login .item-list ul {
  padding-left: 15px;
}

.social p {
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}

.social ul {
  list-style: none;
}

.social ul li {
  float: left;
  margin: 0 5px;
}

.social ul li a {
  font-size: 0;
}

.social ul li a:before {
  background: url("img/fb.png") no-repeat scroll 0 0;
  content: "";
  display: inline-block;
  height: 30px;
  top: 70px;
  width: 30px;
}

.social ul li.twiter a:before {
  background: url("img/tt.png") no-repeat scroll 0 0;
}

.social ul li.google a:before {
  background: url("img/gg.png") no-repeat scroll 0 0;
}

.user-login-block {
  background: #2e3537;
  display: none;
  padding: 20px;
  position: absolute;
  right: 0;
  width: 275px;
}

.user-login-block.active {
  display: block;
}

.feature {
  background: url("img/feature.png") no-repeat scroll 0 0;
  color: #fff;
  padding-bottom: 90px;
  padding-top: 100px;
  text-align: center;
}

.feature-content {
  padding: 0 170px;
}

.feature h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 54px;
  margin: 0 0 55px;
  text-transform: uppercase;
}

.feature p {
  font-size: 30px;
  line-height: 38px;
  margin: 0 0 50px;
}

.feature .description {
  font-size: 22px;
  font-style: italic;
  line-height: 40px;
}

.speakers ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.speakers ul li {
  float: left;
  margin-bottom: 70px;
  text-align: center;
  width: 25%;
}

.speakers ul li .speakers__content {
  padding: 0 10px;
}

.speakers ul li .speakers__img {
  margin-bottom: 25px;
}

.speakers ul li .speakers__img img {
  border-radius: 100%;
}

.speakers ul li .speakers__author-name {
  font-family: Oswald;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 17px;
}

.speakers ul li .speakers__text {
  font-size: 17px;
}

.schedule {
  background: #f5f5f5;
}

.schedule table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  margin-bottom: 80px;
  width: 100%;
}

.schedule table thead {
  font-size: 24px;
  font-weight: bold;
}

.schedule table thead th {
  text-align: left;
}

.schedule table tbody {
  font-size: 17px;
}

.schedule table tbody tr {
  border-bottom: 1px solid #ededed;
}

.schedule table tbody tr td {
  padding: 25px 0;
}

.schedule table tbody tr td.name {
  font-weight: bold;
}

.schedule table tbody tr td a {
  text-decoration: underline;
}

.where .block-title {
  margin-bottom: 50px;
}

.where .description {
  font-size: 28px;
  line-height: 44px;
  margin-bottom: 85px;
  padding: 0 50px;
  text-align: center;
}

iframe {
  width: 100%;
}

.sponsors .logo-vn {
  margin-bottom: 120px;
  text-align: center;
}

.sponsors .list-logo {
  margin-bottom: 80px;
}

.sponsors .list-logo ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sponsors .list-logo ul li {
  display: inline-block;
  vertical-align: middle;
  width: 24%;
}

.footer-panel {
  background: #1b2245;
  color: #ffffff;
}

.register {
  padding-bottom: 70px;
  text-align: center;
}

.register .description {
  font-size: 14px;
  line-height: 32px;
  margin-bottom: 45px;
  padding: 0 220px;
}

.register .form-text {
  border-radius: 3px;
  border: none;
  margin: 0 22px;
  max-width: 230px;
  padding: 14px 10px;
}

.register .form-submit {
  background: #fffc00;
  border-radius: 3px;
  border: none;
  margin-left: 14px;
  padding: 13px 30px;
}

.copyright {
  padding: 15px 0;
  text-align: center;
}

@media all and (max-width: 568px) {
  .sponsors .logo-vn {
    margin-bottom: 30px;
  }

  .sponsors .list-logo ul li {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }

  .sponsors .list-logo {
    margin-bottom: 30px;
  }

  .register .description {
    padding: 0 20px;
  }

  .register .form-text {
    margin-bottom: 20px;
  }

  .register {
    padding-bottom: 30px;
  }

  .speakers ul li {
    width: 100%;
  }

  .navigation {
    text-align: center;
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  .toggleMenu {
    border-bottom: 2px solid #a7a7a7;
    float: right;
    font-size: 0;
    height: 20px;
    position: relative;
    width: 25px;
    margin-right: 20px;
    margin-top: 23px;
  }

  .toggleMenu::before {
    border-bottom: 2px solid #a7a7a7;
    bottom: 5px;
    content: "";
    position: absolute;
    width: 25px;
  }

  .toggleMenu::after {
    border-top: 2px solid #a7a7a7;
    content: "";
    position: absolute;
    top: 5px;
    width: 25px;
  }

  .branding-bottom {
    display: none;
  }

  .branding-bottom.active {
    display: block;
  }

  .branding {
    display: inline-block;
    text-align: center;
    width: auto;
    float: none;
    position: relative;
  }

  .branding-bottom {
    position: absolute;
    width: 100%;
    background: #fff;
    max-height: none;
    right: 0;
  }

  .navigation ul li {
    float: none;
  }

  .login {
    float: none;
    padding: 0 0 20px;
    text-align: center;
  }

  .region {
    padding-top: 30px;
  }

  .block-title {
    margin-bottom: 30px;
  }  

  .feature {
    padding-bottom: 0;
    padding-top: 0;
  }

  .feature h1 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .feature p {
    font-size: 24px;
    line-height: 32px;
  }

  .feature-content {
    padding: 30px 50px;
    background: url("img/feature.png") no-repeat scroll 0 0;
  }

  .feature .description {
    font-size: 20px;
    line-height: 30px;
  }

  .feature p {
    margin-bottom: 30px;
  }
}

@media all and (min-width: 569px) and (max-width: 768px) {
  .navigation {
    width: 75%;
  }

  .login {
    padding-right: 10px;
  }

  .sponsors .list-logo ul li {
    margin-bottom: 10px;
    text-align: center;
    width: 48%;
  }

  .sponsors .logo-vn {
    margin-bottom: 50px;
  }

  .speakers ul li {
    width: 50%;
  }
}

@media all and (max-width: 1024px) {
  .schedule {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: 769px) {
  .toggleMenu {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .feature {
    background-size: 100% auto;
  }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  .branding {
    width: 36%;
  }

  .branding-bottom {
    width: 64%;
    display: block;
  }

  .navigation {
    width: 70%;
  }

  .navigation ul li a {
    padding: 15px 10px;
  }

  .login {
    padding: 20px 10px 20px 0;
  }

  .speakers ul li .speakers__img {
    padding: 0 10px;
  }

  .speakers ul li .speakers__img img {
    width: 100%;
  }

  .sponsors .list-logo ul li img {
    width: 100%;
  }
}

.ss-form-question {
  display: inline-block;
}

.ffw-hidden {
  display: none;
}

.ss-choices {
  list-style: outside none none;
  text-align: left;
  padding-left: 0;
  margin-left: -5px;
}


.customBox-left,
.customBox-right {
  margin-right: 20%;
  text-align: left;
  margin-top: 30px;
}

.customBox-right {
  margin-right: 0;
}

.ss-navigate {
  margin-top: 30px;
  text-align: center;
}

/* overrid style table of google form */
#navigation-table {
  display: inline-block;
}

.ss-q-title {
  color: #fffc00;
  margin-bottom: 5px;
  text-transform: uppercase;
}
